.body {
  font-family: 'Inter', sans-serif;
  margin: 0;
 }
 
 h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
 }
.header {
  width: 360px;
  height: 132px;
  padding: 24px 20px;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  align-items:flex-start;
  position: absolute;
  }
.cover {
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: right;
  width: 339px;
  height: 221px;
  padding: 7px 0px 30px 20px;
}
.cover__title {
  display: block;
  font-family: 'EB Garamod',serif;
  color: white;
  font-weight: 400;
  font-size: 72px;
  line-height:72px;
}
.text__center {
  text-align: center;
}
.text__right {
  text-align: end;
}
.content-section {
    box-sizing: border-box;
    width: 360px;
    margin: auto;
    position: relative; 
}
  .content-section_theme_dark {
    background-color: black;
    color: white;
  
  }
  .content-section_theme_bright {
    background-color: #FEE42A;
    color:black;
    width: 360px;
  }
   .header__logo {
    width: 360px;
  }
   .header__logo-image {
    height: 15px;
    width: 78px;
    border-top: 24px;
  }
   .header__menu {
    height: 84px;
    width: 75px; 
  }
   .header__menu-list {
    list-style-type: none;
    font-family: 'Inter',sans-serif;
    font-weight: normal;    
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 12px;
  }
   .header__menu-item {
    color: white;
    text-decoration:underline;
    list-style-type: none;
    font-family: 'Inter',sans-serif;
    font-weight: normal;     
  }
   .header__menu-item_active {
    width: 360px;
  }
   .header__menu-link {
    color: white;
    padding-top: 1%;
    font-family: 'Inter',sans-serif;
    font-weight: normal;    
  }
  .intro {
    padding: 35px 0px 38px 20px;
    width: 360px;
  }
  .intro__heading {
    font-family: 'Inter', ' EB Garamond';
    font-weight: normal;

    width: 320px;
    display: flex;
    flex-direction: row;
    color: #CCCCCC;
  }
  .intro__title {
    display:block;
    font-family: 'Inter',  'EB Garamond';
    color: #CCCCCC;
    font-size: 16px;
    font-style: normal;
    line-height: 120%;
    width: 320px;
    height: 38px;
    white-space: nowrap;  
  }
  .intro__date {
    display: block;
    white-space: nowrap;
  }
  .intro__main-text {
  font-family: 'Inter', 'EB Garamond';
  font-size: 16px;
  font-weight: normal;
  padding-top: 24px;
  padding-right:20px ;
  color: #CCCCCC;
  }
  .reasons {
    width: 360px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 .content-section__subtitle {
  padding-top: 40px;
  width: 320px;
  height: 63px;
  font-family: 'EB Garamond', 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
}
 .reasons__accent-span {
 font-family: 'Inter','EB Garamond';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 135%;
 flex:none;
 order: 1;
 flex-grow: 0;
}
 .reasons__text-right {
  text-align: right;
  width: 320px;
  height: 31.5px;
}
 .content-section__list {
  font-family: 'Inter', 'EB Garamond';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 135%;
  flex: none;
  order: 2;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  margin-bottom: 17px;
  padding-left: 20px;
 }
 .content-section__list-accent {
 font-weight: bold;
 }
  .how-to {
    padding: 32px 22px 122px 20px;
    width: 360px;
    height: 1829px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    position: relative;
  }
  .how-to__title {
    width: 320px;
    font-family: 'EB Garamond', 'Inter';
    font-style: normal;
    font-size: 28px;
    line-height: 115%;
    font-weight: 500;

  }
  .content-section__subtitle-how-to {
    font-family: 'Inter','EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    width: 320px;
    height: 135px;
    flex: none;
    order: 1;
    flex-grow: 0; 
  }
  .card {
    padding: 20px;
    border-radius: 30px;
  }
  .card_theme_dark-up {
    background: #343434;
    height: 495px;
    color: white;
    gap: 8;
  }
  .card_theme_dark-down {
    background: #343434;
    height: 559px;
  }
  .card_theme_bright {
    background: #FEE42A;
    color: black;
    height: 368px;
  }
  .card__author-photo {
    width: 100px;
    height: auto;
    border-radius: 50px;
  }
  .card__author-name {
    width: 163px;
    height: 20px;
    font-family: 'Inter', 'EB Garamond';
    font-weight: bold;
  }
  .card__title {
    font-family: 'EB Garamond','Inter';
    font-weight: medium;
    font-size: 22px;
    padding-top: 8px;
  }
  .card__text {
    font-family: 'Inter','EB Garamond';
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    padding-top: 8px;
  }
  .span {
    width: 339px;
    display:block;
  }
  .title {
    width: 360px;
    background-image: url(../images/title.svg);
  }
  .cards-list {
    display: flex;
    flex-direction: column;
  }
  .footer {
  margin-bottom: 60px;
   margin: auto;
   width: 360px;
   height: 62px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   padding: 20px;
   border-top: 1px solid #FEE42A;
  }
  .footer__copy {
  font-family: 'Inter','EB Garamond';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 135%;
  color: white;
  }
  .footer__links {
    color: white;
    font-family: 'Inter','EB Garamond';
    font-size: 14px;
    width: 73px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }